[Unit]
Description=Minecraft server auxillary unit to workaround bug systemd#7069 (Before) (%i)
BindsTo=minecraft-server@%i.service
Before=minecraft-server@%i.service
JoinsNamespaceOf=minecraft-server@%i.service
RefuseManualStart=yes

[Service]
Type=oneshot
User=minecraft-server
Group=minecraft-server
WorkingDirectory=/var/lib/minecraft-server/%i
ExecStart=/bin/sh -c '! grep -F eula=false eula.txt'
RemainAfterExit=yes

# Hardening options
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
ProtectHome=yes
ProtectSystem=full
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateTmp=yes
LockPersonality=yes
