
#          Copyright Torge Matthies 2021.
# Distributed under the Boost Software License, Version 1.0.
#    (See accompanying file LICENSE_1_0.txt or copy at
#          https://www.boost.org/LICENSE_1_0.txt)

[Unit]
Description=Minecraft server stop-when-idle timer (%i)

[Timer]
OnActiveSec=5 minutes
OnUnitActiveSec=5 minutes

[Install]
WantedBy=timers.target
