
#          Copyright Torge Matthies 2021.
# Distributed under the Boost Software License, Version 1.0.
#    (See accompanying file LICENSE_1_0.txt or copy at
#          https://www.boost.org/LICENSE_1_0.txt)

[Unit]
Description=Minecraft server auxillary unit to workaround bug systemd#7069 (After) (%i)
BindsTo=minecraft-server@%i.service
After=minecraft-server@%i.service
JoinsNamespaceOf=minecraft-server@%i.service
RefuseManualStart=yes

[Service]
User=minecraft-server
Group=minecraft-server
RemainAfterExit=yes
ExecStop=/bin/sh -c 'echo stop >"/run/minecraft-server/%i/stdin.fifo" && while systemctl is-active --quiet "minecraft-server@%i.service"; do sleep 1; done'
Sockets=minecraft-server-stdin@%i.socket
TimeoutStopSec=1 minute 30 seconds

# Hardening options
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
ProtectHome=yes
ProtectProc=invisible
ProtectSystem=strict
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectClock=yes
PrivateTmp=yes
PrivateNetwork=yes
PrivateDevices=yes
PrivateUsers=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
LockPersonality=yes
SystemCallFilter=@system-service
UMask=0007
ProcSubset=pid
