[Unit]
Description=Minecraft server console proxy (%i)
BindsTo=minecraft-server-stdin@%i.socket minecraft-server-stdout@%i.socket minecraft-server-console@%i.socket
Before=minecraft-server@%i.service
After=minecraft-server-stdin@%i.socket minecraft-server-stdout@%i.socket minecraft-server-console@%i.socket
JoinsNamespaceOf=minecraft-server@%i.service

[Service]
Type=simple
DynamicUser=yes
SupplementaryGroups=minecraft-server
ExecStart=/usr/lib/minecraft-server/broadcast-socket.py
StandardInput=fd:stdout
StandardOutput=fd:stdin
StandardError=journal
Sockets=minecraft-server-stdin@%i.socket minecraft-server-stdout@%i.socket minecraft-server-console@%i.socket

# Hardening options
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
