[Unit]
Description=Minecraft server stdout FIFO
PartOf=minecraft-server.service minecraft-server-console.service
Before=minecraft-server.service minecraft-server-console.service
JoinsNamespaceOf=minecraft-server.service
RefuseManualStart=yes

[Socket]
ListenFIFO=/run/minecraft-server-stdout.fifo
FileDescriptorName=stdout
Service=minecraft-server.service
SocketUser=minecraft-server
SocketGroup=minecraft-server
SocketMode=0600
RemoveOnStop=yes
