[Unit]
Description=Minecraft server stdin FIFO (%i)
PartOf=minecraft-server@%i.service minecraft-server-console@%i.service
Before=minecraft-server@%i.service minecraft-server-console@%i.service
JoinsNamespaceOf=minecraft-server@%i.service
RefuseManualStart=yes

[Socket]
ListenFIFO=/run/minecraft-server/%i/stdin.fifo
FileDescriptorName=stdin
Service=minecraft-server@%i.service
SocketUser=minecraft-server
SocketGroup=minecraft-server
SocketMode=0600
RemoveOnStop=yes
