[Unit]
Description=Minecraft server auxillary unit to workaround bug systemd#7069 (Before)
ConditionPathExists=/var/lib/minecraft-server/eula.txt
BindsTo=minecraft-server.service
Before=minecraft-server.service
JoinsNamespaceOf=minecraft-server.service
RefuseManualStart=yes

[Service]
Type=oneshot
User=minecraft-server
Group=minecraft-server
ExecStart=/bin/sh -c '! grep -F eula=false /var/lib/minecraft-server/eula.txt'
RemainAfterExit=yes

# Hardening options
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
ProtectHome=yes
ProtectSystem=full
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateTmp=yes
LockPersonality=yes
