[Unit]
Description=Minecraft server
BindsTo=minecraft-server-stdin.socket minecraft-server-stdout.socket minecraft-server-console.service
Conflicts=minecraft-server.socket
After=minecraft-server-stdin.socket minecraft-server-stdout.socket minecraft-server-console.service minecraft-server.socket
# https://github.com/systemd/systemd/issues/7069
Requires=minecraft-server-workaround-7069-before.service
Wants=minecraft-server-workaround-7069-after.service

[Service]
Type=simple
User=minecraft-server
Group=minecraft-server
StateDirectory=minecraft-server
StateDirectoryMode=770
WorkingDirectory=/var/lib/minecraft-server
ExecStart=/usr/lib/minecraft-server/server-launch.sh
# https://github.com/systemd/systemd/issues/7069
#ExecCondition=/bin/sh -c '! grep -F eula=false /var/lib/minecraft-server/eula.txt'
#ExecStop=/bin/sh -c 'echo stop >/run/minecraft-server-stdin.fifo'
#ExecReload=/bin/sh -c 'echo reload >/run/minecraft-server-stdin.fifo'
StandardInput=fd:stdin
StandardOutput=fd:stdout
StandardError=inherit
Sockets=minecraft-server-stdin.socket minecraft-server-stdout.socket

# Hardening options
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
ProtectHome=yes
ProtectSystem=full
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateTmp=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
