
#          Copyright Torge Matthies 2021.
# Distributed under the Boost Software License, Version 1.0.
#    (See accompanying file LICENSE_1_0.txt or copy at
#          https://www.boost.org/LICENSE_1_0.txt)

[Unit]
Description=Minecraft server stop-when-idle service (%i)
Requisite=minecraft-server@%i.service minecraft-server-console@%i.socket
PartOf=minecraft-server@%i.service minecraft-server-console@%i.socket
After=minecraft-server@%i.service minecraft-server-console@%i.socket
JoinsNamespaceOf=minecraft-server@%i.service
RefuseManualStart=yes

[Service]
Type=simple
User=root
Group=minecraft-server
ExecStart=/usr/lib/minecraft-server/idle-stop.sh %i
Sockets=minecraft-server-console@%i.socket
ReadWritePaths=/run/minecraft-server/%i

# Hardening options
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
ProtectHome=yes
ProtectProc=invisible
ProtectSystem=strict
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectClock=yes
PrivateTmp=yes
PrivateNetwork=yes
PrivateDevices=yes
PrivateUsers=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
LockPersonality=yes
SystemCallFilter=@system-service
UMask=0117
ProcSubset=pid
